body
{

  margin: 0 auto;
  padding: 0 auto;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;

}

#wrapper
{

  width: 1400px;
  margin: 0 auto;
  background-color: #141414;

}

#topcontentcontainer
{

  width: 100%;
  height: 115px;

}

#socialmedia
{
  height: 35px;
  margin:0 auto;
  background-color: #1C1C1C;
}

#main-nav
{

  height: 83px;
  margin: 0 auto;
  background-color: #141414;

}

#logo
{

  float:left;

}

#logo img
{

  width: 85px;
  height: 85px;
  margin-left: 35px;

}

#navbuttons
{

  color: white;
  font-size: 15px;
  display: inline-block;
  float: right;
  margin-top: 20px;

}

#navbuttons li
{

  display: inline-block;
  margin-right: 40px;

}

#navbuttons a
{

  text-decoration: none;
  color: inherit;

}

#pictureslides
{
  margin: 0 auto;
  width: 100%;
  height: 587px;
}

#currentgames
{

  width: 100%;
  height: 82px;

}

#top-article-container
{

  width: 100%;
  height: 497px;
  margin-top: 80px;
  margin-left: 60px;

}

#bottom-article-container
{

  width: 100%;
  height: 497px;
  margin-top: 20px;
  margin-left: 60px;

}

.articles
{

  float: left;
  color: #C4C4C4;
  font-size: 15px;
  text-align: center;
  background-color: white;
  width: 381px;
  height: 495px;
  margin-left: 25px;
  border-radius: 10px;

}

.articles img
{

  border-radius: 10px 10px 0px 0px;

}

.articles h2
{

  color: black;

}

#footer
{
  margin-top: 220px;
  width: 100%;
  height: 64px;
  color: #777777;
  background-color: black;

}

#footertext
{
  margin-left: 30px;
  float: left;

}
